storage.db
storage.key
*.log
__pycache__/*.pyc
libs/*

# Ignore dynaconf secret files
.secrets.*
vaultdb/__pycache__/*.pyc
secrets.json
*.pyc
dist/*
keylocker.egg-info/*
setup.py
poetry.lock
Pipfile.lock
.vscode/settings.json
